    .ui-header {
        background: #112233 !important;
    }
    .ui-footer {
        background: #112233 !important;
    }
    .header-footer{
    color: white;
    }
	#myPanel{
    background-color: #D8D8D8 !important;
    }
    .imgLogo
    {padding: 0px;
    float: left;
    margin:0px;
    border:none;}
     
    
